@{
    ViewBag.Title = "Issue Tracker";
}

<div class="jumbotron">
    <h1>Issue Tracker beta</h1>
    <p class="lead">the cool ASP.NET application</p>
    <p>...but some featureas are not fully implemented :-)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Issues</h2>
        <p>
            manage issues - requests or errors
        </p>
        <p> @Html.ActionLink("View issuues >>", "Index", "Issue", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Notifications</h2>
        <p>manage notifications</p>
        <p> @Html.ActionLink("View notifications >>", "Index", "Notification", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Projects</h2>
        <p>manage projects</p>
        <p> @Html.ActionLink("View projects >>", "Index", "Project", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p>manage users</p>
        <p> @Html.ActionLink("View customers >>", "Index", "Customer", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) </p>
        <p> @Html.ActionLink("View employees >>", "Index", "Employee", new { area = "" }, new { @class = "btn btn-primary btn-lg" }) </p>
    </div>
</div>